* {
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 19px;
    background-color: #E5E5E5;
}

.main-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: minmax(130px, 200px) auto repeat(2, minmax(110px, 130px)) fit-content(200px) minmax(auto, 20%);
    grid-auto-rows: minmax(78px, auto);
}

.table-header {
    padding: 0 10px;
}

.header__item {
    font-size: 12px;
    color: #B0B0B0;
    background: #E5E5E5;
    font-weight: 400;

    display: flex;
    align-items: center;

    padding: 0 20px;
}

.header__item * {
    cursor: pointer;
}

.rotating-arrow {
    display: inline;
    transition-duration: 0.5s;
}

.header-id-text {

}

.table__item::after {
    position: absolute;
    top: 0;
    right: 100%;
    width: 2px;
    height: 100%;
    background: #FFFFFF !important;
    display: block;
    content: '';
}

.table-row {
    justify-content: space-between;
    grid-column: 1 / -1;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(6, fit-content(200px));

    background-color: #FFFFFF;
}

.table__item {
    position: relative;

    display: grid;
    align-items: center;
    background: #FFFFFF;

    padding: 20px;
}

.contact-list {
    display: grid;
    grid-template-columns: repeat(5, 16px);
    grid-template-rows: 16px;
    grid-auto-rows: 16px;
    grid-gap: 5px;
    align-content: center;
}

.less-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.contact-data {
    position: absolute;
    top: -36px;
    left: calc(-115px/2);
    z-index: 1;
    display: none;
}

.popup {
    position: relative;
}

.popup:hover > .contact-data {
    display: inline !important;
    padding-left: -50%;
}

.actions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.item__actions-list__button {
    display: flex;
    flex-wrap: nowrap;
}

.item__actions-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-content: space-between;
}

.item__actions-list__button {
    border: none;
    padding: 0;
    background: none;
}

.container-container {
    min-width: 500px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.container-container h2 {
    font-size: 24px;
    margin-top: 5%;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .item__actions-list  {
        grid-template-columns: 90px;
    }

    .actions-list {
        gap: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header__item.actions {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .header_grid {
        width: 50%;
    }

    .container-container {
    }

    .header-input {
        grid-column: 2 / -1 !important;
    }

    .table-row {
        padding: 10px 20px;
    }
}

@media (max-width: 850px) {
    .container-container {
        margin-left: 0;
        margin-right: 0;
    }

    .table__item {
        padding-right: 5px;
        padding-left: 5px;
    }
}

/*
HEADER
 */


header {
    background: #FFFFFF;

    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__input {
    border: 2px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
}

.header_grid {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding: 0;
}

.header-input {
    grid-column: span 9;
}

#autocomplete-list {
    position: absolute;
    list-style: none;
    width: 100%;
    z-index: 1000;
    padding: 0;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.autocomplete-li {
    display: grid;
    align-content: center;

    width: 100%;
    padding: 0 0 0 10px;
    margin-bottom: 0;
    height: 40px;

    cursor: pointer;
    background: #FFFFFF;
}

.autocomplete-li:hover, .autocomplete-li:focus {
    background: rgb(200, 197, 209);
}

.id {
    color: #B0B0B0;
}


/*
CLIENT TABLE
 */


.containerForGridContainers {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr auto 1fr;
}

.item__contact-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.header_item {
    display: flex;
    justify-content: start;

    background-color: #E7E5EB;
    color: #B0B0B0;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 0 20px;
}

.name_item {
    justify-content: start;
}



/*
MODAL
 */

#add-client-button {
    min-height: 50px;
    box-sizing: border-box;
    border: 1px solid #9873FF;
    border-radius: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding-left: 25px;
    padding-right: 25px;
}

.modal-title {
    font-size: 18px;
    font-weight: 700;
}

.small-text-label {
    text-transform: uppercase;
    color: #B0B0B0;
    font-size: 12px;
}

.modal-header {
    font-size: 18px;
    font-weight: 800;
    border-bottom: none;

    padding: 0 30px 0;
}

.modal-body {
    padding: 30px;
}

.modal-content {
    display: grid;
    grid-template-rows: 1fr 10fr;
    border-radius: 0;
    --main-width: 100%;
}

#modal-errors {
    display: none;
}


/*
MODAL FORM
 */


.modal-form {
    height: 100%;

    display: grid;
    gap: 10px;
}

.modal-form__item {
    display: grid;
    align-items: end;
}

.modal-form__item-input {
    color: black;
    bottom: 0;
}

.name-modal, .surname, .middlename {
    font-size: 10px;
    color: #B0B0B0;
    font-weight: 400;

    padding-bottom: 0;
}

.modal-form__item input {
    width: 100%;
    height: 100%;

    border: none;
    border-bottom: 2px solid #C8C5D1;
    bottom: 0;

    padding-bottom: 5px;
}


/*
MODAL FORM CONTACTS
 */


.add-contact-modal-button {
    background: rgba(200, 197, 209, 0.2);
    font-size: 14px;
    border: none;

    padding: 20px 20px 0;
    margin: auto -30px;
    width: revert;
}

.modal__contact-new-contact-button {
    width: 100%;
    padding: 25px 0;

    background: none;
    border: none;
    font-weight: 600;
}

.modal__contact-redact-input {
    display: grid;
    grid-template-columns: 3fr 5fr 0.5fr;
    row-gap: 15px;
}

.modal__contact-item {
    width: 100%;
    height: 40px;
    padding: 0 10px;

    border: 1px solid #C8C5D1;
}

.current-contact-span {
}

.modal__contact-redact-dropdown, .modal__contact-redact-input_clear {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #E7E5EB;
}

.modal__contact-redact-input__data {
    background: rgba(200, 197, 209, 0.1);
}

.modal__contact-redact-input_clear {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    background: #F4F3F6;

    border: 1px solid #C8C5D1;
    border-radius: 0;
    margin: 0;
}

.dropdown-item {
    padding: 10px;
}

/*
MODAL BUTTONS
 */

.button-modal-save {
    display: grid;
    height: 39px;
    justify-items: center;

    margin: 0 auto;
    width: 40%;

    color: white;
    border: none;
    border-radius: 0;
    background: #9873FF;

    padding: 10px 40px;
}

.button-modal-cancel {
    background: none;
    border: none;

    color: black;
    text-decoration: underline;
}

.small-padding {
    padding: 5px;
}


/*
DELETE MODAL
 */

.delete-modal {
    display: grid;
    grid-template-rows: 1fr;

    justify-items: center;
    align-content: center;
}

.modal-title-delete {
    font-weight: 700;

    display: grid;
    justify-content: center;
}

.delete-modal-body {
    font-size: 14px;
    color: #333333;

    display: grid;
    justify-content: center;
    align-content: center;

    padding: 20px;
    max-width: 70%;
}

.delete-modal-item-p {
    padding: 20px;
    text-align: center;
}

.delete-modal-cross {
    right: 20px;
    top: 20px;
    position: absolute;
}

#modal-delete-button {
    width: auto;
    margin-bottom: 10px;
}

/*
MISC
 */

.date-time-p {
    display: inline;
    color: #B0B0B0;
}

.svg-arrow {
    transform: rotate(180deg);
}

.error-text {
    color: #F06A4D;
    font-size: 10px;
    margin: 0;
}

.active_text {

}