#main-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 1fr auto;
}

header {
    width: 100vw;
    height: 10vh;

    background: dimgrey;
    z-index: 1;
    position: fixed;
    color: white;

    display: flex;
    justify-content: space-around;
}

header h1 {
    margin: auto 0;
}

#add-class-button {
    background: none;
    border: none;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    border-top: 10px solid rgba(0, 0, 0, 0.1);
    box-shadow: #ffffff;

    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#container {
    width: 50%;
}

.wrapper {
    z-index: -1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax {
    background-image: url("src/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.foreground {
    z-index: -1;
    transform: translateZ(-5px) scale(1.5);
    background-size: cover;
}